<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-ghost" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img width="50" src="../static/images/band.png" alt="logo">
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron question col-sm-10 col-sm-offset-1">
        <div class="title">404 Not Fonud</div>
        <div class="clearfix"></div>
        <div class="text">Sorry, the page was lost :(</div>
      </div>
    </div>
    </body>
</html>
