<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>预言帝</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/comment.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="../static/js/comment.js"></script>
  <link rel="shortcut icon" href="../static/images/icon.png">
</head>

<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://valenw.sinaapp.com">预言帝</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="toMain active"><a href="http://valenw.sinaapp.com">首页</a></li>
            <li class="toRedi"><a href="">发表预言</a></li>
            <li class="toHot"><a href="http://valenw.sinaapp.com?key=hot">最热门</a></li>
            <li class="dropdown visible-xs">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="toUp"><a href="http://valenw.sinaapp.com?key=up">  最神   预言 </a></li>
                <li class="toDown"><a href="http://valenw.sinaapp.com?key=down">最神经 预言 </a></li>
                <li class="divider"></li>
                <li><a href="#">Bug? 联系攻城狮: 1509563478@qq.com</a></li>
              </ul>
            </li>
            <li class="dropdown hidden-xs">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="toUp"><a href="http://valenw.sinaapp.com?key=up">  最神   预言 </a></li>
                <li class="toDown"><a href="http://valenw.sinaapp.com?key=down">最神经 预言 </a></li>
                <li class="divider"></li>
                <li><a href="#">Bug? 联系攻城狮: 1509563478@qq.com</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if userName == 'None' %}
            <li>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
                登陆  注册
              </button></li>
            {% else %}
            <li><a href="#">{{ userName }}</a></li>
            <li>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#logoutModal">
                退出
              </button></li>
            {% end %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="redis container">
    <div class="redi container">
      <div class="row">
        <div class="col btn-group-vertical">
          <button type="button" class="up btn{{ r[8] }}" id="r{{r[0]}}">{{ r[4] }}<br>神预言</button>
          <button type="button" class="down btn{{ r[9] }}" id="r-{{r[0]}}">{{ r[5] }}<br>什么鬼</button>
        </div>
        <div class="col-md-2 col-xs-8">
          <span class="redier">{{ r[1] }}</span> 预言说<br><span class="time">
          {{ r[7] }}天后<br>({{ r[2] }})</span>
        </div>
        <p class="redititle col-md-8 col-xs-12">{{ r[3] }}</p>
      </div>
    </div>
  </div>

  <div class="container comments">
  {% if comment == "None" %}
    <div class="comment container">
      <p class="commentitle col-md-8 col-xs-12 noCom"><i>暂无评论</i></p>
    </div>
  {% else %}
    {% for c in comment %}
    <div class="comment container">
      <div class="row">
        <div class="col-md-2 col-xs-8">
          <span class="commenter">{{ c[0] }} :</span>
        </div>
        <p class="commentitle col-md-8 col-xs-12">{{ c[1] }}</p>
      </div>
    </div>
    {% end %}
  {% end %}
  <input type="text" id="cmt" maxlength="50" placeholder="说点什么吧，回车就发送了~">
  </div>

  <footer>
  <div class="limit">valenw.sinaapp.com © 2015 ValenW <br>Contact: 1509563478@qq.com</div>
  </footer>

<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">登录与注册</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="loginSignup col-sm-5">
            <form class="form-horizontal" role="form" method="post">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">用户名</label>
                <div class="col-sm-6">
                  <input type="username" class="form-control" id="name" name="name">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-sm-4 control-label">密码</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="password" name="password">
                </div>
              </div>
              <div id="alert">
                <div class="login alert alert-success alert-dismissible" role="alert">
                  <strong>登陆成功!</strong>
                </div>
                <div class="login alert alert-info" role="alert"><strong>抱歉，你还未登录.</strong> 登陆或者注册后就可以投票，评论和发表预言啦~</div>
                <div class="login alert alert-warning alert-dismissible" role="alert">
                  <strong>抱歉 </strong> 用户名或者密码错误!
                </div>
                <div class="login alert alert-danger alert-dismissible" role="alert">
                  <strong>错误!</strong> 您已登录！
                </div>
                <div class="signup alert alert-success alert-dismissible" role="alert">
                  <strong>注册成功!</strong>
                </div>
                <div class="signup alert alert-warning alert-dismissible" role="alert">
                  <strong>用户名或者密码错误! </strong> 用户名和密码由1位至16位的中英文组成
                </div>
                <div class="signup alert alert-info" role="alert"><strong>用户名已被注册 </strong> 换个名字吧~</div>
                <div class="signup alert alert-danger alert-dismissible" role="alert">
                  <strong>错误!</strong> 您已登录！
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="loginBtn">登录</button>
        <button type="button" class="btn btn-primary" id="signupBtn">注册</button>
      </div>
    </div>
  </div>
</div>

<!-- logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">退出</h4>
      </div>
      <div class="modal-body">
        <p>确认退出吗？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="logoutBtn">退出</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

</body>
</html>