<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>预言帝</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="shortcut icon" href="../static/images/icon.png">
</head>

<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">预言帝</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/redi">发表预言</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">搜索(暂时无效)</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if userName == 'None' %}
            <li>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
                登陆  注册
              </button></li>
            {% else %}
            <li><a href="#">{{ userName }}</a></li>
            <li>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#logoutModal">
                退出
              </button></li>
            {% end %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <div class="container">
    <div class="row">
      <p class="intra" id="head">
        嘛~没事来玩玩，说不定你真的是预言帝呢？<br>
        <div class="span12 visible-xs-block">
          <button class="btn btn-large btn-block btn-default" type="button">来一个！</button>
        </div>
      </p>
    </div>
  </div>

  <div class="redis container">
  {% for r in redi %}
    <div class="redi container">
      <div class="row">
        <div class="col btn-group-vertical">
          <button type="button" class="up btn{{ r[8] }}" id="r{{r[0]}}">{{ r[4] }}<br>神预言</button>
          <button type="button" class="down btn{{ r[9] }}" id="r-{{r[0]}}">{{ r[5] }}<br>什么鬼</button>
        </div>
        <div class="col-md-2 col-xs-8">
          <span class="redier">{{ r[1] }}</span> 预言说<br><span class="time">
          {{ r[7] }}天后<br>({{ r[2] }})</span>
        </div>
        <p class="redititle col-md-8 col-xs-12">{{ r[3] }}</p>
      </div>
    </div>
  {% end %}
  </div>

<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">登录与注册</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="loginSignup col-sm-5">
            <form class="form-horizontal" role="form" method="post">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">用户名</label>
                <div class="col-sm-6">
                  <input type="username" class="form-control" id="name" name="name">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-sm-4 control-label">密码</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="password" name="password">
                </div>
              </div>
              <div id="alert">
                <div class="login alert alert-success alert-dismissible" role="alert">
                  <strong>登陆成功!</strong>
                </div>
                <div class="login alert alert-info" role="alert"><strong>抱歉，你还未登录.</strong> 登陆或者注册后就可以投票啦~</div>
                <div class="login alert alert-warning alert-dismissible" role="alert">
                  <strong>抱歉 </strong> 用户名或者密码错误!
                </div>
                <div class="login alert alert-danger alert-dismissible" role="alert">
                  <strong>错误!</strong> 您已登录！
                </div>
                <div class="signup alert alert-success alert-dismissible" role="alert">
                  <strong>注册成功!</strong>
                </div>
                <div class="signup alert alert-warning alert-dismissible" role="alert">
                  <strong>用户名或者密码错误! </strong> 用户名和密码必须由字母或者数字组成，且都须大于1位小于16位
                </div>
                <div class="signup alert alert-info" role="alert"><strong>用户名已被注册 </strong> 换个名字吧~</div>
                <div class="signup alert alert-danger alert-dismissible" role="alert">
                  <strong>错误!</strong> 您已登录！
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="loginBtn">登录</button>
        <button type="button" class="btn btn-primary" id="signupBtn">注册</button>
      </div>
    </div>
  </div>
</div>

<!-- logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">退出</h4>
      </div>
      <div class="modal-body">
        <p>确认退出吗？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="logoutBtn">退出</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

</body>
</html>