<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>预言一下</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../static/css/redi.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="../static/js/moment.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/redi.js"></script>
    <link rel="shortcut icon" href="../static/images/icon.png">
  </head>
  <body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://valenw.sinaapp.com">预言帝</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="toMain active"><a href="http://valenw.sinaapp.com">首页</a></li>
            <li class="toRedi"><a href="">发表预言</a></li>
            <li class="toHot"><a href="http://valenw.sinaapp.com?key=hot">最热门</a></li>
            <li class="dropdown visible-xs">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="toUp"><a href="http://valenw.sinaapp.com?key=up">  最神   预言 </a></li>
                <li class="toDown"><a href="http://valenw.sinaapp.com?key=down">最神经 预言 </a></li>
                <li class="divider"></li>
                <li><a href="#">Bug? 联系攻城狮: 1509563478@qq.com</a></li>
              </ul>
            </li>
            <li class="dropdown hidden-xs">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="toUp"><a href="http://valenw.sinaapp.com?key=up">  最神   预言 </a></li>
                <li class="toDown"><a href="http://valenw.sinaapp.com?key=down">最神经 预言 </a></li>
                <li class="divider"></li>
                <li><a href="#">Bug? 联系攻城狮: 1509563478@qq.com</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if userName == 'None' %}
            <li>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
                登陆  注册
              </button></li>
            {% else %}
            <li><a href="#">{{ userName }}</a></li>
            <li>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#logoutModal">
                退出
              </button></li>
            {% end %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

    <div class="container">
      <div class="jumbotron ask col-sm-12">
        <form class="form-horizontal" role="form">
        <h4 class="modal-title" id="myModalLabel">预言</h4>
          <div class="form-group">
            <div class="nameAlert alert alert-warning alert-dismissible" role="alert">
              <strong>忘记写名字了哦</strong>
            </div>
            <div class="timeAlert alert alert-warning alert-dismissible" role="alert">
              <strong>时间都木有</strong>
            </div>
            <div class="contentAlert alert alert-warning alert-dismissible" role="alert">
              <strong>你的预言呢</strong>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-4">
              <input type="text" placeholder="章鱼保罗" class="input-xlarge" id="name" name="name">
              <p class="help-block">预言者的名字</p>
            </div>
          </div>
          <div class="form-group">
            <label for="time" class="col-sm-2 control-label">时间</label>
            <div class="col-sm-4">
              <div class="container">
                <div class="row">
                  <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" readonly id='datetimepicker6' name="time">
                  </div>
                </div>
              </div>
            <p class="help-block">预言事件发生的时间</p>
            </div>
          </div>
          <div class="form-group">
            <label for="content" class="col-sm-2 control-label">你的预言</label>
            <div class="col-sm-6">
              <textarea cols="50" rows="15" id="content" name="content"></textarea>
            </div>
          </div>
        </form>
        <div class="col-sm-offset-3 col-sm-4">
          <label class="control-label">向世界公布你的预言！</label>
          <button type="submit" class="btn btn-primary" id="submit">发表</button>
        </div>
      </div>
    </div>
  <footer>
  <div class="limit">valenw.sinaapp.com © 2015 ValenW <br>Contact: 1509563478@qq.com</div>
  </footer>

<!-- logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">退出</h4>
      </div>
      <div class="modal-body">
        <p>确认退出吗？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="logoutBtn">退出</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
  </body>
</html>