@charset"UTF-8";
/**
 * 
 * @Author  : ValenW
 * @Link    : https://github.com/ValenW
 * @Email   : ValenW@qq.com
 * @Date    : 2015-01-12 19:30:22
 * @Last Modified by:   ValenW
 * @Last Modified time: 2015-01-12 20:47:58
 */

body {
    font-family: "微软雅黑", Tahoma, sans-serif;
}

.redis {
    margin-top: 80px;
}
.redi {
    margin: 30px 20px 30px;
    padding: 30px 10px 30px;
    background: #FFCC99;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.redititle {
    font-weight: bold;
    font-size: 250%;
}
.redier {
    font-weight: bold;
    font-size: 120%;
}
.up, .down {
    min-width: 3.5em;
    height: 30px;
}
.voted {
    height: 50px;
}

.navbar .nav > li.hidden-xs .dropdown-menu  {
    margin: 0;
}
.navbar .nav > li.hidden-xs:hover .dropdown-menu  {
    display: block;
}

.comments input {
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    width: 100%;
    font-size: 18px;
    line-height: 1.05;
    font-family: inherit;
    height: 26px;
    outline: none;
    word-break: break-all;
    resize: none
}

.comments input:focus {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 3px solid #FF9933
}

.comment {
    margin: 10px 20px 10px;
    padding: 5px 10px 5px;
}

.commentitle {
    font-weight: 170%;
    font-size: 200%;
}

.commenter {
    font-weight: 150%;
    font-size: 120%;
}
.noCom {
    width: 100%;
    color: #CC99FF;
    text-align: center;
}
footer {
    margin-top: 60px;
    height: 30px;
    color: #000;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    font-size: 12px;
    text-align: center
}
