/*
CSE 190 M, Spring 2009, Marty Stepp
Homework 4: NerdLuv
Stylesheet for HTML forms / basic PHP program
You should modify this stylesheet as necessary to reproduce the expected page.
*/

/* provided styles */

* {
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
}

body {
	background-color: white;
	border: 1em;
}

#bannerarea {
	margin-bottom: 2em;
}

div {
	margin-top: 0.5em;
}

.info {
	padding-left: 160px;
}

.info strong {
	display: inline-block;
	width: 11em;
}
#main {
	overflow: hidden;
	width: 32em;
}

.match {
	width: 32em;
	margin-left: 1em;
	margin-bottom: 3em;
}

.name {
	background-color: #E0E0FF;
	clear: left;
}

.name img {
	width: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 3em;
}

#seeking {
	margin-top: 2em;
}

#w3c {
	clear: both;
}

#w3c img {
	border-width: 0px;
}


/* your additional styles go here */
#form {
	position: relative;
	padding-top: 0.6em;
	padding-bottom: 0.5em;
	margin-left: 1em;
	background-color: #E0E0FF;
	border: 2px outset gray;
}
#formhead {
	position: absolute;
	top: -1.5em;
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
	margin-left: 0.6em;
	width: 9.5em;
	display: inline-block;
}
/*input {
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
}*/
input[type="submit"] {
	background-color: #FFAAAA;
	font-weight: bold;
	font-size: 120%;
}
strong.formInputName {
	display: inline-block;
	min-width: 11em;
	margin-left: 0.6em;
}
#login {
	margin-top: 1em;
}